# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore CSV data files
*.csv

# Ignore environment files
.env
.venv/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log
logs/

# Ignore system files
.DS_Store
Thumbs.db
*:Zone.Identifier
